@model ML.AlumnoMateria
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 text-center">
        <h2>Materias Asignadas</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("DeleteAlumnoMateria", "AlumnoMateria", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.Alumno.IdAlumno, new { @class = "hidden" })
                    @Html.TextBoxFor(model => model.Alumno.IdAlumno, new { @class = "hidden form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Alumno.Nombre)
                    <div class="input-group">
                        <span class="input-group-addon"><i class="bi bi-person-circle"></i></span>
                        @Html.TextBoxFor(model => model.Alumno.Nombre, new { @class = "form-control", @id = "txtNombre" })
                        @Html.ValidationMessageFor(model => model.Alumno.Nombre)
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Alumno.ApellidoPaterno)
                    <div class="input-group">
                        <span class="input-group-addon"><i class="bi bi-person-circle"></i></span>
                        @Html.TextBoxFor(model => model.Alumno.ApellidoPaterno, new { @class = "form-control", @id = "txtNombre" })
                        @Html.ValidationMessageFor(model => model.Alumno.ApellidoPaterno)
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Alumno.ApellidoMaterno)
                    <div class="input-group">
                        <span class="input-group-addon"><i class="bi bi-person-circle"></i></span>
                        @Html.TextBoxFor(model => model.Alumno.ApellidoMaterno, new { @class = "form-control", @id = "txtNombre" })
                        @Html.ValidationMessageFor(model => model.Alumno.ApellidoMaterno)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-success glyphicon glyphicon-plus " href="@Url.Action("GetMateriasNoAsignadas", "AlumnoMateria", Model.Alumno)"></a>
                    </div>
                </div>
            </div>

            if (Model.AlumnoMaterias == null)
            {
                <table class="table table-dark table-hover table-bordered table-responsive">
                    <thead>
                        <tr>
                            <td class="text-center" style=" font-weight:bold;">El alumno no tiene materias asignadas</td>
                        </tr>
                    </thead>
                </table>
            }
            else
            {
                <table class="table table-dark table-hover table-bordered table-responsive">
                    <thead>
                        <tr>
                            <td class="text-center" style=" font-weight:bold;">Eliminar</td>
                            <td class="hidden">IdAlumnoMateria</td>
                            <td class="hidden">IdMateria</td>
                            <td class="text-center" style="font-weight:bold;">Nombre</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ML.AlumnoMateria alumnomateria in Model.AlumnoMaterias)
                        {

                            <tr>
                                <td class="text-center">
                                    <input type="checkbox" value="@alumnomateria.IdAlumnoMateria" name="AlumnoMaterias">
                                </td>
                                <td class="hidden">@alumnomateria.IdAlumnoMateria</td>
                                <td class="hidden">@alumnomateria.Materias.IdMateria</td>
                                <td class="text-center">@alumnomateria.Materias.Nombre</td>
                            </tr>
                        }
                    </tbody>
                </table>

            }
            <div class="col">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                @Html.ActionLink("Regresar", "GetAll", "AlumnoMateria", htmlAttributes: new { @class = "btn btn-danger" })
            </div>
        }
    </div>
</div>